    * {
      margin:0;
      padding:0;
       box-sizing: border-box;
    } 
    
    
    body {
        display: block;
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-weight: 100;
        font-style: normal; 
        background-color: white;
    }
    
    
    .logo {
        background-color: cornflowerblue;
        font-size: 50px;
        padding: 5px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
    
    
    .logo img {
        width: 80px;
    }
    
    
    .counter-container img {
        width: 300px;
        margin-top: 10px;
        padding: 5px;
    }
    
    
    h2 {
        font-size: 30px;
        color: black;
        letter-spacing: 1px;
    }
    
    
    h3 {
        font-weight: 100;
        text-align: start;  
        margin-top: 10px; 
        padding: 10px;
    }
    
    
    .header-container {
        display: block;
        position: relative;
        background-color: white;
        padding: 50px;
    }
    
    
    .counter-container {
        display: grid;
        grid-template-columns: 400px 1fr;
    }
    
    
    span {
        font-size: 20px;
        padding: 5px 10px;
        background-color: rgb(162, 178, 206);
        border-radius: 5px;
        border: none;
        margin: 0px 5px ;
        margin-top: 10px;
    }
    
    
    .counter-button {
        font-size: 20px;
        padding: 5px 10px;
        background-color: cornflowerblue;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin: 0 5px;
        margin-top: 10px;
    }
    

    .reset-button {
        font-size: 20px;
        padding: 5px 10px;
        background-color: orange;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin: 0 5px;
        margin-top: 10px;
    }


    .button-container {
        display: inline-block;
        position: absolute;
        padding: 10px;
    }
    

    footer {
        display: block;
        position: fixed;
        text-align: center;
        bottom:0;
        width: 100%;
        padding: 5px;
        background-color: midnightblue;
        color: white;
        z-index: 999;
    }


    @media screen and (max-width: 599px) {
       .counter-container {
        grid-template-columns: 1fr;
       }

       .counter-container img {
        width: 200px;
        margin-top: 0;
       }

       h3 {
        margin: 0;
        font-size: 20px;
       }

       .button-container {
        padding-bottom: 60px;
       }
    }
        
    